<main class="p-5">
    <h1>
        Hello! <i class="bi bi-emoji-smile-fill"></i>
    </h1>

    <button class="btn btn-warning">
        <i class="bi bi-emoji-smile-fill"></i>
    </button>

    <div>
        <i class="fa-brands fa-slack fa-beat fa-lg" style="color: #e51506;"></i>
    </div>

    <div>
        <img src="/svg/slack.svg">
    </div>

</main>