<main>
    <div class="row">
        <div class="col-12">

            <h2 class=" mb-3">Список сторінок</h2>
            <div class="mb-4">Якийсь текст</div>

            <p><a href="/summary" class="btn btn-primary">Summary</a></p>
            <p><a href="/skills" class="btn btn-primary">Skills</a></p>
            <p><a href="/education" class="btn btn-primary">Education</a></p>
            <p><a href="/work" class="btn btn-primary">Work</a></p>
            <p><a href="/person" class="btn btn-primary">Person</a></p>
            <p><a href="/bio" class="btn btn-primary">Bio</a></p>
            <p><a href="/program" class="btn btn-primary">Program</a></p>
            <p><a href="/web" class="btn btn-primary">Web</a></p>
            <p><a href="/js" class="btn btn-primary">JS</a></p>
            <p><a href="/car" class="btn btn-primary">Car</a></p>
            <p><a href="/mac" class="btn btn-primary">Mac</a></p>
            <p><a href="/facebook" class="btn btn-primary">Facebook</a></p>
            <p><a href="/bootstrap" class="btn btn-primary">Bootstrap</a></p>
            <p><a href="/task21" class="btn btn-primary">Task21</a></p>
            <p><a href="/task22" class="btn btn-primary">Task22</a></p>
            <p><a href="/task31" class="btn btn-primary">Task31</a></p>
            <p><a href="/shophome" class="btn btn-primary">Shophome</a></p>
            <p><a href="/list" class="btn btn-primary">List</a></p>
            <p><a href="/shopproduct" class="btn btn-primary">Shopproduct</a></p>
            <p><a href="/shopnews" class="btn btn-primary">Shopnews</a></p>
            <p><a href="/shoporder" class="btn btn-primary">Shoporder</a></p>
            <p><a href="/shopcart" class="btn btn-primary">Shopcart</a></p>
            <p><a href="/shopprofile" class="btn btn-primary">Shopprofile</a></p>
            <p><a href="/shopreview" class="btn btn-primary">Shopreview</a></p>
            <p><a href="/shopcatalog" class="btn btn-primary">Shopcatalog</a></p>

        </div>
    </div>
</main>