<header>
    <div class="card m-3">
        <div class="card-body">

            <div class="nav">

                <h3>Logo</h3>

                <div class="nav-item text-end">
                    {{#each links}}
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</header>